@font-face {
    font-family: 'Metropolis';
    font-weight: 700;
    font-display: swap;
    src: url(~/fonts/Metropolis-Bold.woff2) format('woff2'),

}

@font-face {
    font-family: 'Metropolis';
    font-weight: 500;
    font-display: swap;
    src: url(~/public/fonts/Metropolis-Medium.woff2) format('woff2'),

}

@font-face {
    font-family: 'Metropolis';
    font-weight: 400;
    font-display: swap;
    src: url(~/public/fonts/Metropolis-Regular.woff2) format('woff2'),

}