@font-face {
    font-family: 'Metropolis';
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Sarabun-Medium.woff2) format('woff2'),
        url(/fonts/Sarabun-Medium.ttf) format('truetype'),

}

@font-face {
    font-family: 'Sarabun';
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Sarabun-Regular.woff2) format('woff2'),
        url(/fonts/Sarabun-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Sarabun-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Cardo';
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Cardo-Regular.woff2) format('woff2'),
        url(/fonts/Cardo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Cardo';
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Cardo-Bold.woff2) format('woff2'),
        url(/fonts/Cardo-Bold.ttf) format('truetype');
}